body{
    background-color: #fbf7ee;
    background-repeat: no-repeat;
    text-align: center;
}
.image-row {
    display: flex;
    gap: 50px;
}

.image-row img {
    width: 200px; 
    height: auto;
}