body{
    background-color: #FFEBC9;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
}

h1 {
    color: #472D00;
}

h2 {
    color: #472D00;
}

p {
    margin: 10px 5px;
}

.chocolate {
    background-color: #D18400;
}

.strawberries {
    background-color: #D18400;
}